/env
__pycache__
/examples
*.pyc
*.html
*.png
!/plots/all_cities_cdf_plot.png
cookies.txt
.env
/routes_to_crawl
/crawled_routes
/fetched_routes
parsed_data.txt

/utils
hotspot_shield_codes.txt
install_mac_os.sh
install_linux.sh
install.sh
locations_to_crawl.txt
LICENSE.txt
requirements.txt
run_curl.py
run_parsing.py
run_plotting.py
run_selenium.py